{% extends "feuerwehr/alarm_list.html" %}
{% block breadcrumb %}{{block.super}}<a href="#">Neuer Alarm</a>{% endblock %}
{% block title %}Neuer Alarm{% endblock %}
{% block content %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>

<table>
<tr><td></td><td>{{alarm.name}}</td></tr>
<tr><td></td><td>{{alarm.location}}</td></tr>
<tr><td></td><td>{{alarm.date}}</td></tr>
</table>
<h4>Personen</h4>
<table>
{% for participant in alarm.participants.all%}
<tr><td>{{ participant.user }}</td></tr>
{% endfor %}
</table>
{% endblock %}
