{% extends "feuerwehr/alarm_list.html" %}{% load static %}{% load l10n %}
{% block breadcrumb %}{{block.super}}<a href="{{ alarm.get_absolute_url }}">#{{ alarm.no }}</a>{% endblock %}
{% block title %}Alarm {{ alarm }}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" crossorigin=""/> <!--https://unpkg.com/leaflet/dist/leaflet.css*-->
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}"/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" crossorigin=""></script> <!--https://unpkg.com/leaflet/dist/leaflet.js-->
{% endblock %}
{% block content %}
<table>
<tr class="odd"><td>Stichwort</td><td>{{alarm.key}}</td></tr>
<tr class="even"><td>Adresse</td><td>{{alarm.address}}</td></tr>
<tr class="odd"><td>Datum</td><td>{{alarm.date}}</td></tr>
<tr class="even"><td>Kommentar</td><td>{{alarm.comment}}</td></tr>
</table>
{#Map#}
<!--<iframe width="100%" height="350px" frameborder="0" allowfullscreen allow="geolocation" src="https://umap.openstreetmap.de/de/map/Volksdorf_50119?{% if alarm.location %}#17/{{alarm.location.lat|unlocalize}}/{{alarm.location.lon|unlocalize}}{% endif %}"></iframe><p><a href="https://umap.openstreetmap.de/de/map/Volksdorf_50119?searchControl=true{% if alarm.location %}#17/{{alarm.location.lat|unlocalize}}/{{alarm.location.lon|localize}}{% endif %}">See full screen</a></p>-->
<div id="map"></div>
<!--<script src="{% static 'js/map.js' %}" defer></script>-->
<script>
const copy =
  "&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a>";
const url =
  "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
const layer = L.tileLayer(url, {
  attribution: copy,
});
const map = L.map("map", {
    layers: [layer],
    zoom: 17,
});
  var hydrantIcon = L.icon({iconUrl: '{% static "img/hydrant.svg" %}',iconSize: [20,20]});
  fetch('{% static 'hydranten.geojson' %}')
    .then((response) => response.json())
    .then((hydrantGeoJson) => L.geoJSON(hydrantGeoJson,{
	pointToLayer: function (feature, latlng){
	    return L.marker(latlng, {icon: hydrantIcon});
	}
    }).addTo(map));
/*map.fitWorld(); , {
        pointToLayer: function (feature, latlng){
	    return L.marker(latlng, {icon: hydrantIcon});
	}
    }*/
{% if alarm.location %}map.setView([{{alarm.location.lat|unlocalize}},{{alarm.location.lon|unlocalize}}]);
  const marker1 = L.marker([{{alarm.location.lat|unlocalize}},{{alarm.location.lon|unlocalize}}],
			   {icon: L.icon({iconUrl: '{% static "img/fire.svg" %}',iconSize: [30,30]})}).addTo(map);
{%else%}
map.setView([53.6513, 10.1726], 16){% endif %}
</script>

<h4>Personen</h4>
<table>
{% for m in participants %}
<tr class="att_{{m.attendance}}"><td>{{ m.user }}</td>
  <td class="userlist">{%if m.role.icon %}<img src="{{MEDIA_URL}}{{m.role.icon}}" title="{{m.role}}"/>{% else %}{{m.role|default_if_none:""}}{% endif %}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
