{% extends "base.html" %}
{% block breadcrumb %}{{ block.super }}<a href="{% url 'alarm-list' %}">Alarme</a>{% endblock %}
{% block title %}Alarme{% endblock %}
{% block content %}
<a href="{% url 'alarm-create' %}">NEUER ALARM</a>
<table>
{% for alarm in object_list %}
<tr class="{% cycle 'odd' 'even' %}">
  <td><a href="{{ alarm.get_absolute_url }}" class="{% if alarm.is_ongoing %}alarm_ongoing{% elif alarm.responded %}alarm_responded{% endif %}">{{ alarm }}</a>
  </td>
</tr>
{% empty %}
    <tr><td>Keine Alarme vorhanden.</td></tr>
{% endfor %}
</table>{% endblock %}


