{% load static %}<!DOCTYPE html>
  <head>
    <link rel="icon" type="image/x-icon" href="{% static 'logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="manifest" href="{% static 'manifest.json' %}"/>{% block extrahead %}{% endblock %}
  </head>
  <body><div id="loginbar">{% if request.user.is_authenticated %}<a href="{{ request.user.get_absolute_url }}">{{ request.user }}</a>
   {% else %}
     <a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
   {% endif %}</div>
    <div id="header">{% block header %}{% endblock %}</div>
    <div id="breadcrumb" class="breadcrumb">{% block breadcrumb %}<a href="{% url 'home' %}">Home</a>{% endblock %}</div>
    <h1>{% block title %}TITLE{% endblock %}</h1>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
  </body>
</html>

