{% extends "base.html" %}
{% block title %}FF2931{% endblock %}
{% block content %}
<ul>{% if request.user.is_staff %}
  <li><a href="/admin">Admin</a></li>{% endif %}
  <li><a href="{% url 'alarm-list' %}">Alarme</a></li>
  <li><a href="{% url 'user-list' %}">Nutzer</a></li>
</ul>{% endblock %}
