{% load static %}<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  <head>
    <title>Markers Map</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      crossorigin=""
    /> <!--https://unpkg.com/leaflet/dist/leaflet.css*-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}"/>
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      crossorigin=""
    ></script> <!--https://unpkg.com/leaflet/dist/leaflet.js-->
  </head>
  <body style="height: 100%;">
    <div id="map" style="height: 100%;"></div>
    <script
      src="{% static 'js/map.js' %}"
      defer
    ></script>
</body>
</html>
