{% extends "auth/user_list.html" %}{% load tags %}
{% block breadcrumb %}{{block.super}}<a href="{{ user.get_absolute_url }}">{{ user }}</a>{% endblock %}
{% block title %}Nutzer {{ user }}{% endblock %}
{% block content %}
<table>
  <tr class="odd"><td>Name</td><td>{{ user.get_full_name }}</td></tr>
  <tr class="even"><td>Kurzform</td><td>{{ user }}</td></tr>
  <tr class="odd"><td>Email</td><td>{{ user.email }}</td></tr>
  <tr class="even"><td>Rollen</td><td>{% for role in user.person.roles.all %}{%if role.icon %}<img src="{{MEDIA_URL}}{{role.icon}}" title="{{role}}"/>{% else %}{{role}}{% endif %} {% endfor %}</td></tr>
  <tr class="odd"><td>Rechte</td><td>{{ user.get_all_permissions|join:", "}}</td></tr>
</table>
{% if request.user == user %}<form id="logout-form" method="post" action="{% url 'admin:logout' %}">{% csrf_token %}<button type="submit" class="btn btn-link">Logout {{ request.user }}</button>
</form>{% endif %}

<h3>Einsätze</h3>

<table>{% for alarm in alarme %}
  {% with m=alarm|get_membership:user %}{# Retrieve the membership for this alarm and user#}
  <tr class="{% cycle 'odd' 'even' %}">
    <td class="att_{{m.attendance}} userlist"><a href="{{ alarm.get_absolute_url }}">{{alarm}}</a></td>
    <td class="userlist">{{alarm.date}}</td>
  </tr>{%endwith%}{%endfor%}
</table>

Zugesagt: {{num_alarme}} von {{tot_alarme}} ({% widthratio num_alarme tot_alarme 1%} %).<br/>
{% endblock %}
