{% extends "base.html" %}
{% block breadcrumb %}{{ block.super }}<a href="{% url 'user-list' %}">Nutzer</a>{% endblock %}
{% block title %}Nutzer{% endblock %}
{% block content %}
<ul>
{% for user in object_list %}
    <li><a href="{{ user.get_absolute_url }}">{{ user }}</a></li>
{% empty %}
    <li>Keine Alarme vorhanden.</li>
{% endfor %}
</ul>{% endblock %}


